*{
    margin: 0;
    box-sizing: border-box;
}
/*barra de menu*/

.barra{
    background-color: brown;
    height: 100px;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
   
}

.nav2{
    color:cornsilk;
    text-decoration: none;
}

.logo{
    font-family: 'Piedra', cursive;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    font-weight: bold;
    line-height: 20px ;

}

.menu{
    display: flex;
    margin-right: 60px;
    list-style: none;
}

.nav-menu{
    padding: 20px;
    font-size: 15px;
    margin:0 20px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;
}
.link{
    padding: 5px 9px;
    border-radius:2px ;

}
.link:hover{
    background-color:gold;
    transition: 0.5s;
}
/* fin de barra de menu*/
/*historia*/

.historia{
    margin: auto;
    padding: 100px;
    width: 1500px;
    height: 600px;
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,100px);
    gap: 20px;
}

.m1{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 20px;
    width: 500px;
    height: 500px;
    background-color: beige;
    border:2px solid beige;
}
.m2{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 20px;
    width: 500px;
    height: 500px;
    border:2px solid beige;
    background-color:beige;
}

.fondo{
    background-color: darkred;
    width: auto;
    height: 1000px;
    width: 1000px;

}

.historia h4{
    text-align: center;
    
    
}

.historia p{
    text-align: center;
    font-size: 18px;
    height: 80px;

}