<section class="card">
    <div class="card__producto">
        <div class="card__imagen">
            <img src="#" alt="">
            <h2>Tirolesa</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <hr>
        <div class="#">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolores perferendis rem ipsam
                veniam reiciendis eveniet optio eum velit, dignissimos asperiores fugit molestias ipsum temporibus
                rerum hic iste nulla vitae?</p>
        </div>
        <hr>
        <div class="card__button">
            <a class="enlace" href="#">Comprar</a>
        </div>
        <div class="card__button">
            <a class="enlace" href="#">Añadir al carrito</a>
        </div>
    </div>
</section>