<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Compañia</h4>
                <ul>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Politica de privacidad</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li><a href="#">Envios</a></li>
                    <li><a href="#">Devoluciones</a></li>
                    <li><a href="#">Opciones de pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Tienda Online</h4>
                <ul>
                    <li><a href="#">Seguir Envio</a></li>
                    <li><a href="#">Carrito de compras</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>Redes sociales</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>