<header class="navegacion">
    <nav class="nav">
         <a href="#" class="logo nav-1"> Logo</a>
         <button class="hamburguesa"><i class="fas fa-bars"></i></button>
         <ul class="menu ">
             <li class="menu-item"><a href="#" class="menu-link nav-1">Mi Cuenta</a></li>
             <li class="menu-item"><a href="#" class="menu-link nav-1">Vender</a></li>
             <li class="menu-item"><a href="#" class="menu-link nav-1">Registrarse</a></li>
             <li class="menu-item"><a href="#" class="menu-link nav-1">Contacto</a></li>
         </ul>
    </nav>
</header>