<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./parcials/head.ejs')%>
</head>
<body>
<header>
    <%-include('./parcials/nav.ejs')%>
</header>
<div >
    <%-include('./parcials/barra_divisoria.ejs')%>
</div>

<div class="container_categ">

    <div class="fotos alto"style="background:url(https://wallpapertag.com/wallpaper/full/a/f/b/719120-download-free-electronic-wallpapers-2560x1600.jpg)" > <a href="../HTML/Electronica.html"><h2>ELECTRONICA</h2></a></div>
    <div class="fotos" style="background:url(https://frutasanacr.com/wp-content/uploads/2020/02/alimentos-saludables.jpg) " ><h2>ALIMENTOS SALUDABLES</h2></div>
    <div class="fotos" style="background:url(https://static.vix.com/es/sites/default/files/imj/vivirsalud/5/5-comidas-chatarra-que-no-son-tan-malas-como-pensabas-1.jpg) " ><h2>ALIMENTOS Y BEBIDAS</h2></div>
    <div class="fotos ancho"style="background:url(http://ramondecangas.com/wp-content/uploads/2016/05/smoothies2.jpg)"><h2>BEBIDAS ALCOHOLICAS</h2></div>
    <div class="fotos ancho"style="background:url(http://www.tapeta-klawiatura.na-pulpit.com/zdjecia/klawiatura.jpeg)"><h2>COMPUTADORAS</h2></div>
    <div class="fotos"style="background:url(http://www.tapeta-klawiatura.na-pulpit.com/zdjecia/klawiatura.jpeg)"><h2>CONSTRUCCIÓN</h2></a></ul><div></div></div>
    <div class="fotos"style="background:url(https://c.wallhere.com/photos/71/0d/soccer_ball_field_grass_lawn-1185587.jpg!d)"><h2>DEPORTES</h2></div>
    <div class="fotos"style="background:url(https://www.ocu.org/-/media/ocu/images/home/vivienda%20y%20energia/equipamiento%20hogar/cambiar-electrodomesticos.jpg?rev=2ecf5b23-459b-4444-b883-9dc65462c2a9&la=es-ES&h=270&w=480&mw=480&hash=BD81F5E531A1E8B62C8B143CCB6FD157ECA67A3D)"><h2>HOGAR</h2></div>
    <div class="fotos"style="background:url(https://www.10wallpaper.com/wallpaper/1366x768/1708/Clothes_hanging_in_store-Design_HD_Wallpaper_1366x768.jpg)"><h2>INDUMENTARIA</h2></div>
    <div class="fotos"style="background:url(https://i.ibb.co/YpXXbdB/Juguetes1.jpg)"><h2>JUGUETES</h2></div>
    <div class="fotos"style="background:url(https://images5.alphacoders.com/614/thumb-1920-614450.jpg)"><h2>VEHICULOS Y REPUESTOS</h2></div>
    <div class="fotos"style="background:url(http://venturamexico.com/wp-content/uploads/2019/09/Seguro-de-salud-1024x613.jpg)"><h2>SALUD</h2></div>
    
  </div>
  
</body>
</html>